
#paraone{
    color:red;
    }
    #paratwo{
        color: green;
    }
    .gendralpara{
        color: blue;
    }
    .text{
        font: size 100px;
        font-family: Arial, Helvetica, sans-serif;
    }