html{
    background-color: aqua;
}
body{
    width: 2000px;
    height: 2000px;
    background-color: blue;
    margin: 0 auto;
}
#header{
    width: 2000px;
    height:300px;
    background-color: green;
    font-size: 100px;
    text-align: center;
}
#leftcontent{
    width: 600px;
    height: 1500px;
    background-color: red;
    font-size:65px;
    text-align:center;
    float: left;
}
a{
    text-decoration: none;
}

#vertical ul li{
     list-style-type:none;
     display: inline;
     padding:110px;
     float: left;
}
#rightcontent{
    width:1400px;
    height:1500px;
    background-color:palevioletred ;
    float:right;
    font-size:50px;
    text-align:left;
}
#footer{
    width: 2000px;
    height:700px;
    background-color: yellowgreen;
    font-size:20px;
    text-align: center;
}







